## To Integer

In [ ]:
# float --> integer
# Boolean --> Integer

data = 10.9
data_int = int(data)


print(data, type(data))
print(data_int, type(data_int))

10.9 <class 'float'>
10 <class 'int'>

## To Float

In [ ]:
# integer --> float
# Boolean --> float

data = 8 
data_float = float(data)

print(data, type(data))
print(data_float, type(data_float))

8 <class 'int'>
8.0 <class 'float'>

## To Boolean

In [ ]:
# Integer/Float --> Boolean 

# String/list/set/tuple/dict --> Boolean

data = 0
data_bool = bool(data)

print(data, type(data))
print(data_bool, type(data_bool))

0 <class 'int'>
False <class 'bool'>

## To String

In [ ]:
# All Type --> String

data = 1000 
data_str = str(data)

print(data, type(data))
print(data_str, type(data_str))

1000 <class 'int'>
1000 <class 'str'>

## To List

In [ ]:
#  String --> list 
# Tuple/set --> list

data = "spiderman"
data_list = list(data)

print(data, type(data))
print(data_list, type(data_list))

spiderman <class 'str'>
['s', 'p', 'i', 'd', 'e', 'r', 'm', 'a', 'n'] <class 'list'>

## To Tuple

In [ ]:
# Mengubah String --> Tuple
# list/set --> tuple 


data = "spiderman"
data_tuple = tuple(data)
print(data, type(data))
print(data_tuple, type(data_tuple))

spiderman <class 'str'>
('s', 'p', 'i', 'd', 'e', 'r', 'm', 'a', 'n') <class 'tuple'>

## To Set

In [ ]:
data = "spiderman"
data_set = set(data)
print(data, type(data))
print(data_set, type(data_set))

spiderman <class 'str'>
{'a', 'r', 's', 'd', 'm', 'i', 'n', 'e', 'p'} <class 'set'>

## To Dictionary

In [ ]:
##  list/tuple/set --> dict

data = [
          ['spiderman' , 'marvel'] ,
          ['batman','dc' ]
        ]

data_dict = dict(data)

print(data)

print(data_dict)

(('spiderman', 'marvel'), ('batman', 'dc'))
{'spiderman': 'marvel', 'batman': 'dc'}

In [ ]:
# menggunakan zip 

keys = ["spiderman", "batman", "ironman"]
values = ["marvel", "dc", "marvel"]

my_dict = dict(zip(keys, values))
print(my_dict)

{'spiderman': 'marvel', 'batman': 'dc', 'ironman': 'marvel'}