In [ ]:
# Type Data Integer/Bilangan Bulat

data = 8 
print(data)
print(type(data))

8
<class 'int'>

In [ ]:
# Type Data Float/Desimal

data = 8.0
print(data) 
print(type(data))

data = 8.8
print(data)
print(type(data))

8.0
<class 'float'>
8.8
<class 'float'>

In [ ]:
# Type Data Boolean/biner
# hanya memiliki 2 nilai --> True/False

data1 = True
data2 = False

print(data1)
print(type(data1))

print(data2)
print(type(data2))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# Type Data String/Kumpulan Karakter
# "  " 

data1 = "spiderman"
data2 = "8"
data3 = "8.0"
data4 = "False"

print(data4)
print(type(data4))

False
<class 'str'>

In [ ]:
# Type Data List 
# Kumpulan Element yang dapat di MODIFIKASI/UBAH
# Menggunakan [] 

data = ["spiderman", "ironman", "superman"]

print(data)
print(type(data))

['spiderman', 'ironman', 'superman']
<class 'list'>

In [ ]:
# Type Data Tuple 
# Kumpulan element yang TIDAK dapat di MODIFIKASI/UBAH
# Menggunakan ()

data = ("spiderman", "ironman", "superman")
print(data)
print(type(data))

('spiderman', 'ironman', 'superman')
<class 'tuple'>

In [ ]:
# Type Data Set
# Kumpulan element yang pasti UNIK dan TIDAK BERURUTAN
# Menggunakan {}

data = {"spiderman", "ironman","ironman", "superman"}
print(data)
print(type(data))

{'ironman', 'spiderman', 'superman'}
<class 'set'>

In [ ]:
# Type Data Dictionary
# Kumpulan PASANGAN KEY-VALUE
# Menggunakan {key1:value1, key2:value2}

data = {"spiderman" : "marvel", "batman": "DC", "superman" : "DC"}
print(data)
print(type(data))

{'spiderman': 'marvel', 'batman': 'DC', 'superman': 'DC'}
<class 'dict'>